nodl_python/nodl/_schemas/interface.xsd

<?xml version="1.1" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="interface">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="node"></xs:element>
            </xs:choice>
            <xs:attribute name="version" type="xs:positiveInteger" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
